/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_dark {
  --text-color: #F1B2CE;
  --heading-color: #DB00FF;
  --header-paragraph-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --main-text-color: #FF0070;
  --background-color: #000028;
  --background-text-color: #FF0070;
  --text-shadow: #FF0070;

}

/*.page.theme_dark { !*добавить доп разметку из темной темы*!*/
/*  !* сохраните этот селектор в приведённом виде.*/
/*    Так стили написанные ниже будут иметь больший вес,*/
/*    чем стили в медиазапросе предпочтений пользователя*/
/*  *!*/
/*}*/

.page.theme_dark .record {
  position: absolute;
  color: var(--main-text-color);
  top: 20px;
  right: 48px;
}

.page.theme_dark .record::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--main-text-color);
  filter: drop-shadow(0px 0px 4px var(--main-text-color));
  border-radius: 50%;
  left: 43px;
  top: 8px;
}

@media (prefers-color-scheme: dark) {
  body {
    --text-color: #F1B2CE;
    --heading-color: #DB00FF;
    --header-paragraph-color: #000028;
    --background-image: url(../images/cover-image-dark.png);
    --main-text-color: #FF0070;
    --background-color: #000028;
    --background-text-color: #FF0070;
    --text-shadow: #FF0070;
  }
}




