.page.theme_dark {
  --text-color: #f1b2ce;
  --heading-color: #db00ff;
  --header-paragraph-color: #000028;
  --main-text-color: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --background-text-color: #ff0070;
  --text-shadow: #ff0070;
  --rec-non-visibility: initial;
}

.page.theme_dark .header__record {
  position: absolute;
  color: var(--main-text-color);
  top: 20px;
  right: 48px;
}

.page.theme_dark .header__record::after {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--main-text-color);
  filter: drop-shadow(0 0 4px var(--main-text-color));
  border-radius: 50%;
  right: -19px;
  top: 8px;
}

.page.theme_auto .header__record {
  position: absolute;
  color: var(--main-text-color);
  top: 20px;
  right: 48px;
  display: var(--rec-non-visibility);
}

.page.theme_auto .header__record::after {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--main-text-color);
  filter: drop-shadow(0 0 4px var(--main-text-color));
  border-radius: 50%;
  right: -19px;
  top: 8px;
  display: var(--rec-non-visibility);
}

@media (width = 375px) {

  .page.theme_dark .header__record {
    top: 10px;
    right: 38px;
  }
}

@media (prefers-color-scheme: dark) {

  :root {
    --text-color: #f1b2ce;
    --heading-color: #db00ff;
    --header-paragraph-color: #000028;
    --main-text-color: #ff0070;
    --background-image: url(../images/cover-image-dark.png);
    --background-color: #000028;
    --background-text-color: #ff0070;
    --text-shadow: #ff0070;
    --rec-non-visibility: initial;
  }
}
