/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

html {
  background-color: gray; /* DELETE*/
}

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  background-color: var(--background-color);
  font-family: var(--main-font, monospace);
  font-size: 18px;
  color: var(--text-color);
}

.header {
  min-block-size: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "nav"
                      "title"
                      "paragraph";
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  border-top: 1px solid #353430;
  border-right: 1px solid #353430;
  width: 25px;
  height: 25px;
  top: 20px;
  right: 20px;
}

.header::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #353430;
  border-left: 1px solid #353430;
  width: 25px;
  height: 25px;
  bottom: 20px;
  left: 20px;
}

.header__theme-menu {
  grid-area: nav;
  grid-column: span 2;
  margin: 0 auto;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  margin-block-start: 20px;
  column-gap: 10px;
  align-items: center;
}

/*.rec {*/
/*  position: absolute;*/
/*}*/

/*.rec::after {*/
/*  content: "";*/
/*  position: absolute;*/
/*}*/

.header__heading {
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  text-shadow: 4px 4px 0 var(--text-shadow);
  color: var(--heading-color);
  line-height: 0.825;
  grid-row: 2/3;
  align-self: center;
  grid-column: span 2;
}

.header__paragraph {
  color: var(--header-paragraph-color);
  max-width: 491px;
  align-self: center;
  justify-self: flex-end;
  font-weight: 700;

  font-style: normal;
  line-height: 1.3;
  margin-inline-end: 20px;

  grid-area: paragraph;
  grid-column: 2/3;
}

.title-decor {
  background-color: var(--background-text-color);
  /*font-weight: 700;*/
}

.theme-auto {
}

.header__theme-menu-item {
}

.header__theme-menu-button {
  color: var(--main-text-color);
  border: none;
  background-color: transparent;
  text-transform: lowercase;
  padding-inline: 13px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--main-text-color);
  padding: 0 13px;
}

.header__theme-menu-button_active:hover {
}

.header__theme-menu-button_active:focus {
}

.header__theme-menu-button_active:focus-visible {
}

.main-content {
  padding: 0 20px;
}

/**/
.hard-concentrate {
  display: grid;
  gap: 20px;
  grid-template-columns: minmax(236px, 315px) minmax(472px, 1fr);
}

.content {
  margin-block-end: 80px;
}

.content__title {
  font-size: 18px;
  color: var(--main-text-color);
  margin-block-end: 20px;
}

.content-card__item:not(:last-child) {
  margin-block-end: 20px;
}

.normal-weight {
  font-weight: normal;
}

.content-card__title {
  font-size: 18px;
  color: var(--header-paragraph-color);
  margin-block-end: 10px;
}

.content-card__paragraph {
  font-size: 18px;
}

/**/
.reduces-concentration {
  display: grid;
  gap: 20px;
  grid-template-columns: max(315px) 1fr;

}

.reduces-concentration__list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}


.footer {
  min-block-size: 100vh;
}

@media(1200px <= width <= 1400px) {
  body {
    /*background-color: red;*/
  }
}

