/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

html {
  background-color: gray; /* DELETE*/
}

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--backgroundimage, url(../images/cover-image-light.png));
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  background-color: var(--background-color, #FFF1F7);
  font-family: var(--main-font, monospace);
  color: var(--text-color, #353430);
  font-size: 18px;
}

.header {
  min-block-size: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr minmax(130px, 192px) 1fr;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  border-top: 1px solid #353430;
  border-right: 1px solid #353430;
  width: 25px;
  height: 25px;
  top: 20px;
  right: 20px;
}

.header::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #353430;
  border-left: 1px solid #353430;
  width: 25px;
  height: 25px;
  bottom: 20px;
  left: 20px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  margin-block-start: 20px;
  column-gap: 10px;
  align-items: center;
}

/*.rec {*/
/*  position: absolute;*/
/*}*/

/*.rec::after {*/
/*  content: "";*/
/*  position: absolute;*/
/*}*/

.heading {
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  text-shadow: 4px 4px 0 var(--text-shadow, #FF0070);
  color: var(--logo-color, #FFC2E6);
  line-height: 0.825;
  grid-row: 2/3;
  align-self: center;
}

.header__paragraph {
  max-width: 491px;
  align-self: center;
  justify-self: flex-end;

  font-style: normal;
  line-height: 1.3;
  margin-inline-end: 20px;
}

.title-decor {
  background: var(--background-text-color, #FF8DCB);
  font-weight: 700;
}

.theme-auto {

}

@media (prefers-color-scheme: dark) {
  body {
    /*--main-text-color: #ffffff;*/
    /*--main-background-color: #152028;*/
  }
}

.header__theme-menu-item {
}

.header__theme-menu-button {
  color: var(--text-color, #353430);
  border: none;
  background-color: transparent;
  text-transform: lowercase;
  padding-inline: 13px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid #353430;
  padding: 0 13px;
}

.header__theme-menu-button_active:hover {
}

.header__theme-menu-button_active:focus {
}

.header__theme-menu-button_active:focus-visible {
}

.footer {
  min-block-size: 100vh;
}

@media(1200px <= width <= 1400px) {
  body {
    /*background-color: red;*/
  }
}

