/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  /* Переменные светлой темы */
  --main-font: 'IBM Plex Mono', monospace;
  --text-color: #353430; /*#353430*/
  --accent-color: #FF8DCB; /*#DB00FF*/
  --backgroundimage: url(../images/cover-image-light.png);
  --background-color: #FFF1F7;
}

@media (prefers-color-scheme: light) {
  body {
    --main-text-color: #152028;
    --main-background-color: #ffffff;
  }
}